*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 1s;
}
.Login_section{
    width:45rem;
    margin: 0;
    height:710px;
    display: flex;
    font-family: 'GHEA Grapalat';
    font-style: normal;

    .Login_logo{
        width: 50%;
        background-color: #263849;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 30px ;
        
        .Login_gerb{
            width: 100px;
            height: 100px;
            background-color: #263849;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 10px solid #fff;
            margin-bottom: 150px;
            img{
                width: 80%;
            }
        }

        h2{
            font-size: 35px;
            color: white;
        }
    }
  
    .Login_head{
        width: 70%;
        display: flex;
        justify-content: center; 
        align-items: center;
        background-image: url(../../../../public/images/bild.jpg);
        background-size: cover;
        .Login_body{
            width: 60%;
            height: 350px;
            box-shadow: 0px 0px 10px gray;
            background-color: #26384996;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5rem;
            color: white;
            .errmsg{
                margin-top: 10px;
                font-size: 16px;
                color: #c0d2e3
                
            }
            h1{
                margin-top: 40px;
            }
            form{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 200px;
                justify-content: space-around;
                #username,#password{
                    width: 220px;
                    height: 30px;
                    padding: .3rem;
                    border-radius: 7px;
                    box-shadow: 0 0 10px gold;
                    color: #263849;
                    font-size: 16px;
                    background-color: rgb(255, 255, 255);
                }
                .button {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    height: 52px;
                    width: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:  #263849;
                    box-sizing: border-box;
                    border-radius: 5px;
                    color:#fff;
                    font-size: 19px;
                                
                }
                .button:hover{
                    background:#2638495b;
                    font-size: 22px;
                }
                .persistCheck{
                    width: 100%;
                    display: flex;
                    justify-content:left;
                    input{
                        width: 15px;

                    }
                    label{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
