.Register_page {
    width: 400px;
    color: #263849;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    .errmsg {
        margin-top: 10px;
        font-size: 16px;
        color: #c0d2e3
    }

    .offscreen {
        display: none;
    }

    .erorrValidate {
        font-size: 12px;
        color: red;
    }
    .buts{
        display: flex;
        width: 75%;
        justify-content: space-around;
    }

    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 270px;
        justify-content: space-around;

        input {
            width: 280px;
            height: 30px;
            padding: .3rem;
            border-radius: 7px;
            box-shadow: 0 0 10px #263849;
            color: #263849;
            font-size: 16px;
            background-color: rgb(255, 255, 255);
        }

        button {
            display: flex;
            align-items: center;
            margin-top: 25px;
            height: 32px;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #263849;
            box-sizing: border-box;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            padding: 5px;
        }
    }
}