.number {
    width: 45rem;
    background: url(../../../public/images/Fon.png);
    margin: 0 auto;
    height: 1020px;
    transition:all linear 0.8s;
    .container6 {
        width: 89%;
        border: 0.5px solid #94A3BA;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 2rem auto;
        padding: 1rem;
        background: #FFFFFF;


        .container7 {
            width: 100%;
            padding-bottom: 15px;
            border-bottom: solid 1px #94A3BA;
            display: flex;
            align-items: center;

            h2 {
                font-weight: 700;
                font-size: 17px;
                line-height: 24px;
                max-width: 500px;
                margin-left: 27px;
                color: #263849;
                max-width: 600px;
            }
            img{
                margin-left: 2%;
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .pasive {
                background: #FFFFFF;
                margin-top: 1.87rem;
                width: 168px;
                height: 30px;
                border: 1px solid #263849;
                cursor: pointer;
                color: #263849;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                border-radius: 4px;
                margin-left: 10px;
            }

            .active {
                background: #263849;
                margin-top: 1.87rem;
                width: 168px;
                height: 30px;
                border: 1px solid #263849;
                cursor: pointer;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                border-radius: 4px;
                margin-left: 10px;
            }
        }

    }
}