.MeetingsSchedule {
  width: 45rem;
  margin: 0 auto;

  .demo {
    width: 40rem;
    margin: 20px auto;
    border: 1px solid black;
    height: 1703px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #94A3BA;
    border-radius: 10px;
    padding: 1rem;

    .head_box {
      display: flex;
      align-items: center;
      padding: 1.5625rem 0;

      img {
        width: 46px;
        height: 30px;
      }

      h2 {
        font-family: 'GHEA Grapalat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #28374A;
        margin-left: 20px;
      }
    }

    .line {
      border: 1px solid #94A3BA;
      background: #94A3BA;
      margin-bottom: 1.25rem;
    }

    .calendar {
      margin: 0 auto 20px;

      .year {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0 auto;

        .month {
          width: 16.1875rem;
          height: 218px;
          background: #F5F5F5;
          margin-bottom: 1.875rem;

          .month_box {
            display: flex;
            align-items: center;
            background: #E1AA5A;
            width: 100%;
            height: 34px;

          }

          .monthName {
            width: 59px;
            height: 24px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            font-style: normal;
            text-transform: none;
            margin-left: 5px;
            color: #263849;
            text-transform: capitalize;


          }

          .dayOfTheWeek {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 3px 10px;

            .days {
              width: 20px;
              height: 24px;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 24px;
              box-sizing: border-box;
              color: #263849;
              margin-right: 1rem;
            }

            .days:last-child {
              margin-right: 0;
            }
          }

          .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 2px;

            .day {

              height: 24px;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 24px;
              cursor: pointer;
              color: #263849;
              width: 36px;
              text-align: center;

              box-sizing: border-box;

            }

            .dayus {

              height: 24px;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 24px;

              color: #263849;
              width: 36px;
              text-align: center;

              box-sizing: border-box;

            }

            .checkday {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background: #263849;
              border-radius: 50%;
              margin-left: 6px;
              margin-right: 4.5px;
              color: #FFFFFF;
              font-size: 11px;
            }

            .spanCheckday {

              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 24px;
              cursor: pointer;
              color: #FFFFFF;

            }
          }
        }
      }
    }

    .disables {
      margin: 0 42px;
      display: disable;
      background: #ece1d0;
      font-size: 14px;
      color: #28374A;
      padding: 10px;
      cursor: not-allowed;
      pointer-events: none;
    }

    .nodisables {
      margin: 0 42px;
      display: disable;
      background: #E1AA5A;
      font-size: 14px;
      color: #28374A;
      padding: 10px;
      cursor: pointer;

    }
  }
}
