.Committees {
    width: 45rem;
    margin: 0 auto;

    .CommitteesBody {
        width: 40rem;
        background: #FFFFFF;
        color: #263849;
        border: .5px solid #94A3BA;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        margin: auto;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 200px;
        text-align: center;
        font-family: 'GHEA Grapalat';
        font-style: normal;

        button {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .Committees_title {
            display: flex;
            padding: 16px;
            text-align: left;
            align-items: center;

            img {
                width: 46px;
            }

            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                max-width: 500px;
                margin-left: 20px;
            }
        }

        hr {
            width: 97%;
            height: 1px;
            background-color: #94A3BA;
            margin: auto;
        }

        .Committees_main {
            margin-top: 20px;
            h2 {
                font-weight: 700;
                font-size: 13px;
                line-height: 24px;
            }

            .Committees_main_page {
                text-align: left;
                padding: 10px 10px 10px 16px;

                h3 {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 24px;
                }

                p {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 24px;
                }
            }
        }

        .addDiv {
            width: 100%;
            margin-top: 30px;
            color: #263849;

            span {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            textarea {
                width: 75%;
                height: 150px;
                margin-right: 30px;
                resize: none;
                border-radius: 7px;
                margin-left: 10px;
            }

            button {
                margin-top: 20px;
                width: 30%;
                height: 50px;
                border-radius: 5px;
                margin-left: 10px;
                cursor: pointer;
            }

            .back {
                background-color: #263849;
                color: #fff;
            }

            .save {
                background-color: #E1AA5A;
            }

            p {
                background-color: #E1AA5A;
                text-align: left;
                margin-top: 40px;
            }

            .erorrText {
                box-shadow: 0px 0px 5px 2px red;

            }

            .text {
                box-shadow: 0px 0px 5px 2px #E1AA5A;

            }
        }
        .ADD{
            background-color: none;
        }
        .edit_committees {
            textarea {
                font-family: 'GHEA Grapalat';
                font-style: normal;
                width: 100%;
                height: 110px;
                resize: none;
                border: 1px solid gray;
                padding: .5rem;
                border-radius: 7px;
            }

            button {
                margin-left: 20px;
            }

            .erorrText {
                box-shadow: 0px 0px 5px 2px red;

            }

            .text {
                box-shadow: 0px 0px 5px 2px #E1AA5A;
            }
        }
    }
}